body {
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 350px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, .2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

h1 {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.input {
    flex: 1;
    padding: 5px;
    font-size: 13px;
    outline-color: black;
    outline-width: 0.5px;
    cursor: text;
}

.submit {
    padding: 8px 10px;
    border-radius: 3px;
    flex: 1;
    border: none;
    background-color: #1875d9;
    color: #f3f3f3;
    transition: ease background-color 0.2s;
    cursor: pointer;
}

.submit:hover {
    background-color: #1368c3; 
}
